table {
    border: 1px solid; 
  }
  
  th {
    height: 20px;
    border: 1px solid;
    width: 75px;
  }
  
  td {
    border: 1px solid;
    text-align: center;
    width: 170px;
  }
  
  .points {
    height: 50px;
  }
  
  .fouls {
    height: 25px;
  }
  
  .logField {
    width: 15px;
  }
  div.timer {
    border:1px #222 solid;
    width:300px;
    height:60px;
    line-height:50px;
    font-size:50px;
    font-family:"binary", Courier, monospace;
    text-align:center;
    margin:20px;
  padding: 5px 20px
}
<<<<<<< HEAD

=======
>>>>>>> a9e0b1ae17cf2c1ac014f2b92dafe2fd5a422e94
.button1 {
  float: left;
  border: 1px black; 
}
.button2 {
  float: right;
  border: 1px black;
}
.button1 {border-radius: 15px;}

.button2 {border-radius: 15px;}

.button1 {
  border: square;
  color: black;
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 8px 5px;
  
}
.button2 {
  border: square;
  color: black;
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 8px 5px;
  }
.button3 {
  float: right;
  border: 1px black; 
}
.button3 {border-radius: 5px;}

.button3 {
  border: square;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 8px 5px;
}
.button1 {background-color: #4CAF50;} 
<<<<<<< HEAD
.button2 {background-color: #FF0000;}
=======
.button2 {background-color: #FF0000;}
.button3 {background-color:#FF0001;}
  

>>>>>>> a9e0b1ae17cf2c1ac014f2b92dafe2fd5a422e94
